@import '../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* 스크롤 박스 스타일 */
.ticket_scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* 수직 스크롤 활성화 */
    border: none;
    padding-left: 20px;
    padding-right: 15px;
  }
  /* 스크롤 커스터마이징 */
  .ticket_scroll::-webkit-scrollbar {
    width: 5px;
  }
  .ticket_scroll::-webkit-scrollbar-track {
    background: white;
  }
  .ticket_scroll::-webkit-scrollbar-thumb {
    background: #666;
  }
  .header {
    height: 70px;
    background-color: #583BBF;
    color: white;
    text-align: center;
    align-content: center;
  }
  .content {
    width: 100%;
    height: 500px;
    text-align: left;
  }
  
  .b_top {
    border-top: 2px solid #C3B2FD;
  }
  
  .b_right{
    border-right: 2px solid #C3B2FD;
  }
  .reserve_img img{
    width: 140px; 
    height: 180px; 
    object-fit: cover;
  }
  .reserve_btn{
    border-radius: 10%;
    background-color: #583BBF;
    color: white;
    width: 130px;
    height: 130px;
  }
  .reserve_btn:hover{
    opacity: 90%;
    background-color: #583BBF;
    color: white;
  }
  .list_group{
    border-radius: 0;
    padding: 0;
  }
  .list_group_item{
    text-align: center;
    border: none;
    cursor: pointer;
  }
  .list_group_item:hover{
    background-color: #C3B2FD;
    color: #583BBF;
    font-size: 18px;
  }
  .list_group_item.active {
    background-color: #C3B2FD;
    color: #583BBF;
    font-weight:600;
    font-size: 18px;
  }
  
  .btn_time{
      background-color: white;
      border: 1px solid #C3B2FD;
      margin-right: 5px;
  }
  
  .btn_time:hover{
      background-color: #583BBF;
      color: white;
  }
  
  .btn_time.active{
      background-color: #583BBF;
      color: white;
  }
  .btn_mazin{
      background-color: white;
      border: 1px solid #C3B2FD;
      margin-right: 5px;
  }
  span{
      font-weight: normal;
  }
  .time_box{
      width: 120px;
  }

  .span1{
    margin-left: 10px;
  }
  .btnUp{
    margin-left: 10px;
  }
  .btnDown{
    margin-left: 5px;
  }