

/* 메인 컨테이너 */
.pageWrapper {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  box-sizing: border-box;
}

/* 헤더 스타일 */
.mypageHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  background-color: inherit;
}

/* 텍스트 섹션 */
.mypageHeader .textSection {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/* 텍스트 크기 조정 */
.mypageHeader .textSection h2 {
  font-size: 18px;
  font-weight: bold;
}

/* 선 스타일 */
.mypageHeader .divider {
  width: 100%;
  height: 1px;
  background-color: #6a0dad;
  margin: 10px 0;
}

/* 사용자 통계 (시청한 영화, 리뷰 부분) */
.mypageHeader .userStats {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 200px;
}

.mypageHeader .userStats span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypageHeader .userStats span strong {
  font-size: 18px;
  margin-top: 5px;
}

/* 등급 텍스트 보라색으로 변경 */
.mypageHeader .textSection p span {
  color: #6a0dad;
}

/* 프로필 이미지 컨테이너 */
.profileImageContainer {
  margin-right: 20px;
}

.profileImageContainer img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* 프로필 섹션 */
.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 프로필 이미지 스타일 */
#profileImage {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}

/* 설명 텍스트 */
.profileText {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

/* 메인 영역 (헤더 아래의 콘텐츠) */
.mypageMain {
  display: flex;
  flex: 1;
  background-color: inherit;
}

.headerSpacing {
  height: 20px;
}

/* 사이드바 */
.mypageSidebar {
  flex: 1;
  margin: 0;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mypageSidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mypageSidebar ul li {
  flex: 1;
}

.mypageSidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #6c757d;
  font-weight: bold;
  background-color: inherit;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
  height: 100%;
}

.mypageSidebar ul li a:hover {
  background-color: #583bbf;
  color: #ffffff;
  transform: scale(0.95);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* 콘텐츠 */
.mypageContent {
  flex: 3;
  background-color: inherit;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 비밀번호 입력 박스 스타일 */
.formGroup input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

/* 버튼 스타일 */
.formButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.formButtons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btnCancel {
  background-color: #ddd;
}

.btnCancel:hover {
  background-color: #ccc;
}

.btnConfirm {
  background-color: #583bbf;
  color: #fff;
}

.btnConfirm:hover {
  background-color: #583bbf;
}

/* 프로필 이미지와 관련 */
.logoContainer {
  margin-right: 280px;
  margin-bottom: 20px;
  width: 124px;
  height: 124px;
}
