.bodyContent {
    margin-top: 124px;
    min-height: 555px;
}
.headerForm {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    height: 124px;
}
.navbar {
    border-bottom: 2px solid #583BBF; 
}
.navbarBrand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #583BBF;
}
.navbarBrand span {
    color: black; 
}
.navItem input {
    font-weight: 500;
    color: black;
    background-color: white; 
    border: none;
    font-size: 1.0rem;
}
.navItem input:hover {
    color: #583BBF;
}
.navLink {
    font-weight: 500;
    color: black;
    font-size: 1.0rem;
}
.navLink:hover {
    color: #583BBF;
}
.searchIcon {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}
.subNav {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.subNav .nav-link {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}
.subNav .nav-link:hover {
    color: #583BBF;
}
.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchInput {
    max-width: 300px;
}
.btnSearch {
    border: none;
    background-color: white;
}
.footerForm {
    position: relative;
    bottom: 0;
    background-color: #583BBF; 
    color: white; 
    height: 240px; 
    font-size: 0.8rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px 0;
}
.footerLink {
    display: flex;
}
.footerLink p {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
}
.footerInfo p {
    margin-bottom: 1px;
}
