@import "../../../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";


.mapBACHI{
    display: flex;
    width: 100%;
    margin: 4px;
  }
.mapBACHI2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* overflow-y: scroll; */
    position: absolute; 
    left: 50%; top:4%; 
    transform: translate(-49%, 0);
}
.seat.available {
    background-color: #e0e0e0;
    color: #000;
  }
.seat {
    width: 40px;
    height: 40px;
    /* margin: 5px; */
    margin-right: 5px;
    margin-bottom: -2px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 10px;
  }

/* 이미 예약된 좌석 X 표시 */
.close {position:relative;float:left;display:inline-block;width:40px;height:40px;text-align:center;}
.close2:after {content: "\00d7"; font-size:25pt;line-height:40px;}



/* ticket.css */
/* 스크롤 박스 스타일 */
.scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* 수직 스크롤 활성화 */
  border: none;
  padding-left: 20px;
  padding-right: 15px;
}
/* 스크롤 커스터마이징 */
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background: white;
}
.scroll::-webkit-scrollbar-thumb {
  background: #666;
}
.header {
  height: 70px;
  background-color: #583BBF;
  color: white;
  text-align: center;
  align-content: center;
}
.content {
  width: 100%;
  height: 500px;
  text-align: left;
}
.content1{
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
}
.content2{
  background-color: gray; 
  width: auto; height: 30px; 
  margin-left: -5px; 
  text-align: center; 
  margin-bottom: 20px;
}
.content3{
  margin-top: -5px; 
  font-size: 30px;
}
.bTop {
  border-top: 2px solid #C3B2FD;
}

.reserveImg img{
  width: 140px; 
  height: 180px; 
  object-fit: cover;
}
.reserveBtn{
  border-radius: 10%;
  background-color: #583BBF;
  color: white;
  width: 130px;
  height: 130px;
}
.reserveBtn:hover{
  opacity: 90%;
  background-color: #583BBF;
  color: white;
}

span{
    font-weight: normal;
}


.container1{
  height: 200px;
}